@import url('https://fonts.googleapis.com/css2?family=Acme&family=Comfortaa&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Chela+One&family=Comfortaa&family=Varela+Round&display=swap');
:root {
    --dark-gold: rgb(172, 146, 0);
    --gold: rgb(230, 196, 0);
    --trans-gold: rgba(230, 196, 0, 50%);
    --grey: rgb(117, 117, 117);
    --dark-grey: rgb(70, 70, 70);
    
}

* {
    box-sizing: border-box;
    color: var(--grey);
    font-family: impact, sans-serif;

}



body {
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(93, 93, 93);
}

.top_bar {
    margin-top: 25px;
  margin-bottom: 60px;
    color: var(--grey);
    background-color: var(--gold);

    text-align: center;

    font: 125px impact, sans-serif;
    

    box-shadow: 0px 20px 200px 10px var(--gold);
} 

@media (max-width: 870px) {
    #top_bar {
        height: 14vw;
        font: 13vw impact, sans-serif;
    }
}

a {
    color: var(--grey);
    text-decoration: none;
}



.dropdown {
    position: relative;
  }
  
  .arrow {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s;
  }
  
  .dropdown:hover .arrow {
    transform: rotate(90deg);
    color: var(--gold);
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--grey);
    border: 4px solid var(--dark-gold);
    
  
    border-radius: 4px;
    animation: dropdown-fade-in 0.3s ease-in-out;
    width: 100%;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    margin: 10px 0;
  }
  
  .dropdown-menu li a {
    color: var(--grey);
    text-decoration: none;
    font-size: 14px;
  }
  
  
  
  @keyframes dropdown-fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0)
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  li a {
    color: var(--grey);
    text-decoration: none;
    font-size: 16px;
  }
  
  li a:hover {
    color: var(--gold);
  }

  .button a {
    border: 2px var(--gold) solid;
    background-color: var(--dark-gold);
    color: var(--grey);
    text-decoration: none;
    border-radius: 4px;
    
  }

  .button a:hover {
    border: 2px var(--dark-gold) solid;
    background-color: var(--grey);
    color: var(--gold);
  }

  .container {
    display: flex;
    flex-flow: column;
  }

  .grow {
    flex-grow: 1;
  }
  
  
  .big-button {
    display: flex;
    border: 4px var(--gold) solid;
    background-color: var(--dark-gold);
    color: var(--grey);
    text-decoration: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: calc(.4rem + 8vw);
    margin: 40px 175px;
    transition: all 0.3s ease;
  }

  

  .big-button:hover {
    border: 6px var(--dark-gold) solid;
    background-color: var(--grey);
    color: var(--gold);
    transform: scale(1.25);
  }

  .big-button:hover a {
    color: var(--gold)
  }

  .hover-effect {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background: radial-gradient(ellipse at center, var(--gold), var(--dark-gold));
    filter: blur(6px);
    -webkit-filter: blur(30px);
    z-index: 999;
  }

  h2 {
    margin-top: 100px;
    text-align: center;
    color: var(--gold);
    font-family: 'DynaPuff', cursive;
    font-size: calc(.5rem + 2vw);
  }
  
  .empty {
    padding-bottom: 600px;
  }

  li a {
    font-size: calc(.4rem + 8vw);
  }
  
  
  .dropdown-menu li:hover {
    background-color: var(--dark-gold);
  }

  .dropdown-menu li {
    color: var(--grey);
    justify-content: center;
    display: flex;
    
  }

  .dropdown-menu li a {
    font-size: 60px;
  }

  .SCP-image {
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
  }

  .red {
    color: rgb(169, 0, 0);
    padding-right: 70px;
  }

  .Sunny-Side-Art {
    width: 20vw;
    height: 20vw;
    border-radius: 10000px
  }

  .sunny-side-art-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .about-me-header {
    color: var(--dark-gold);
    font-weight: 70;
    text-align: center;
    margin: 0px;
    font-family: 'Chela One', cursive;
    font-size: calc(2vw + 5px);
  }

  .about-me-text {
    font-size: calc(1vw + 5px);
    color: var(--dark-gold);
    text-align: center;
    font-family: 'Varela Round', sans-serif;
  }

  .about-me {
    transition: all .8s ease;
    margin-left: 0vw;
    margin-right: 0vw;
    padding: 40px;
    border-radius: 70px;
    font-size: 100px;
  }
  
  .about-me.transformed {
    transform: scale(1.25);
    margin: 5vw 20vw;
    background-color: var(--dark-gold);
   
  }

  .about-me.transformed .about-me-text {
   color: var(--dark-grey);
   
  }

  .about-me.transformed .about-me-header {
    color: var(--grey);
    
   }
  

   .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-btn {
   
    border: none;
   
    cursor: pointer;
  }
  
  .dropdown-content {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease;
  }
  
  .dropdown-content a {
    display: block;
    
    text-decoration: none;
    
  }
  
  .dropdown:hover .dropdown-content {
    max-height: 700px; /* Adjust this value to set the desired height */
  }

  .dropdown:hover .big-button{
    border: 6px var(--dark-gold) solid;
    background-color: var(--grey);
    color: var(--gold);
    transform: scale(1.25);
  }

  .arrow {
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
    font-size: 80px;
   
  }
  
  .dropdown:hover .arrow {
    transform: rotate(0deg);
  }
  
 .sunny-side {
  font-size: 100px;
  text-align: center;


 }

  .sunny-side .big-button:hover {
  color: var(--dark-grey);
  background-color: var(--dark-gold);
  border-color: var(--gold);
  text-decoration: underline;
  transform: scale(1)
 }

 
 .about-work.transformed {
  transform: scale(1.25);
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 20vw;
  margin-top: 10vw;
  background-color: var(--dark-gold);
 
}

.about-work.transformed .about-me-text {
 color: var(--dark-grey);
 
}

.about-work.transformed .about-me-header {
  color: var(--grey);
  
 }

 .about-work {
  transition: all .8s ease;
    margin-left: 0vw;
    margin-right: 0vw;
    padding: 40px;
    border-radius: 70px;
    font-size: 100px;
    margin-bottom: 20vw;
    margin-top: 10vw;

}


@media (max-width: 1040px) {


.top_bar {
  font-size: calc(5vw + 20px);
}

.about-me, .about-work {
  padding: 15px;
  border-radius: 50px;
}


}

.big-button {
 margin: 4vw 12vw;
}

.arrow {
  font-size: 10vw;
}

.dropdown .big-button {
  transform: scale(.8)
}

.dropdown:hover .big-button {
  transform: scale(1)
}

.dropdown-content:hover .big-button {
  transform: scale(1)
}

